.footer {
    @apply grid place-items-center min-h-screen min-w-full mt-10 md:mt-40;
}

.footer-background {
    background: rgb(255,126,109);
    background: linear-gradient(90deg, rgba(255,126,109,1) 20%, rgba(255,206,93,1) 80%);
}

.profile {
    @applypl-4 grid place-items-center;
    @apply 2xl:absolute 2xl:right-1/2;
    width: clamp(150px, 100%, 700px);
}

.profile-wrapper {
    width: clamp(300px, 100%, 1400px);
    @apply mx-4 relative h-full grid justify-items-start items-center;
}

.footer-headline {
    @apply font-sans text-7xl h-auto grid items-center mb-16;
    @apply md:text-9xl;
}

.footer-content {
    @apply text-lg mb-16;
    @apply md:text-2xl;
}

.icons-container {
    width: clamp(150px, 100%, 700px);
    @apply h-20 justify-self-start absolute bottom-16;
}