@tailwind base;
@tailwind components;
@tailwind utilities;


.p-card {
    width: clamp(300px, 95%, 1400px);
    height: clamp(300px, 100vw, 1400px);
    @apply flex flex-wrap my-10 md:my-20;
}

.display {
    width: clamp(300px, 100%, 1400px);
    height: clamp(150px, 50vw, 700px);
    @apply md:absolute z-10;
}

@media (min-width: 768px) {
    .p-card {
        height: clamp(150px, 50vw, 700px);
    }
    .display {
        width: clamp(300px, 95%, 1400px);
    }
}

.p-textbox {
    @apply w-full z-10 h-1/2 flex items-center justify-center;
    @apply md:w-1/2 md:h-full;
}



.p-text {
    width: clamp(100px, 100%, 500px);
    @apply p-4 grid z-10;
}

.arrow {
    @apply w-12 h-12 justify-self-center;
}

.arrow:hover {
    @apply transition duration-100 ease-in-out hover:bg-black transform hover:scale-110;
}